.navbar-inverse{
     background-color:#06a3f7;
     border-color:#0f2633;
}
.navbar .navbar-brand{
     font-size: 20px;
     color: white;
}
.navbar-inverse .navbar-nav>li>a {
     color: white;
     font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: orange;
}
.navbar {
   box-shadow: 1px 1px 5px rgb(58, 4, 4);
}